* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-primary);
}

:root {
  --color-primary: #D4BFA4;
  --color-secondary: #A87449;
  --color-accent: #7A5A43;

  --color-bg: #F8F5F1;
  --color-surface: #FFFDF9;

  --color-text: #2F2A27;
  --color-text-muted: #8A8178;
  --color-white: #FFFFFF;

}