* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --color-bg: #E5DBD3;
}

h1,
h2,
h3,
.logo {
  font-family: "Cormorant Garamond", serif;
}
:root {
  --color-primary: #d4bfa4;
  --color-secondary: #a87449;
  --color-accent: #7a5a43;

  --color-bg: #f8f5f1;
  --color-surface: #fffdf9;

  --color-text: #2f2a27;
  --color-text-muted: #8a8178;
  --color-white: #ffffff;
  --color-button: #965C2D;
  --color-button-hover: #744520;
}
